@model MAQS.Web.Models.CorpList

@{
   // ViewData["Title"] = "Index";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <partial name="~/Views/shared/_headerview.cshtml" />
    <div class="maqs-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <form method="post" asp-action="Index" asp-controller="Corps">
                            <input asp-for="@Model.Company" id="companyId" class="SearchBar" placeholder="Search by company name, contact, city, state, zip, code ... etc" />
                        </form>
                        <button class="modal-button">
                            <img class="filter" src="../Images/Vector.png" id="advancedFilter" />
                        </button>
                    </div>

                    <div class="search-box" id="searchPanel">
                        <img class="img-dimension" src="../Images/SearchPanel.png">

                        <div class="overlay-text">
                            <form id="searchForm" method="post" asp-action="Index" asp-controller="Corps">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Company</label>
                                        <input asp-for="@Model.Company" id="companyId" class="maqs-input-field" required />
                                        <span asp-validation-for="Company" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>State</label>
                                        <input asp-for="@Model.State" id="stateId" class="maqs-input-field" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>City</label>
                                        <input asp-for="@Model.City" id="cityId" class="maqs-input-field" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Contact</label>
                                        <input asp-for="@Model.Contact" id="contactId" class="maqs-input-field" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Zip code</label>
                                        <input asp-for="@Model.Zip" id="zipId" class="maqs-input-field" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Email ID</label>
                                        <input asp-for="@Model.Email" id="emailId" class="maqs-input-field" />
                                    </div>
                                    @*<div class="col-sm-3">
                                    <label>Date</label>
                                    <input asp-for="Date" class="maqs-input-field" />
                                    </div>
                                    <div class="col-sm-3">
                                    <label>MM</label>
                                    <input asp-for="MM" class="maqs-input-field" />
                                    </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <button class="btn maqs-secondary-btn" id="btnClear"  >Clear</button>
                                        <button type="submit" class="btn maqs-primary-btn" id="applyBtn">Apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="company-contact">
                        <div class="row add-margin">
                            <div class="col-lg-4">
                                <p class="company-title">Company Contacts</p>
                            </div>
                        </div>
                        @if (@Model.corps.Count() == 0)
                        {
                            @*<h1>Records not found</h1>*@
                            <div class="align-middle">
                                <img src="~/Images/Web search-pana 1.png" class="img-responsive" />
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="company-table-scrollbar scrollbar-style">
                                        <table id="dataTableData">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Contact</th>
                                                    <th>Title</th>
                                                    <th>Address</th>
                                                    <th>City</th>
                                                    <th>State</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var obj in @Model.corps)
                                                {
                                                    <tr id=corpid onclick="loadData('@obj.Corpid')">
                                                        <td>@obj.Company</td>
                                                        <td>@obj.Contact</td>
                                                        <td>@obj.Title</td>
                                                        <td>@obj.Address1</td>
                                                        <td>@obj.City</td>
                                                        <td>@obj.State</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-container">
                        <p>Contact</p>
                        <div class="contact-inner-container scrollbar-style" id="contactContainer">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td id="Company"></td>
                                    <th>Contact</th>
                                    <td id="Contact"></td>
                                    <th>Title</th>
                                     <td id="Title"></td>
                                </tr>
                                <tr>
                                    <th>Suit</th>
                                    <td id="Suite"></td>
                                    <th>State</th>
                                    <td id="State"></td>
                                    <th>City</th>
                                    <td id="City"></td>
                                </tr>
                                <tr>
                                    <th>Phone No.</th>
                                        <td id="phoneno"></td>
                                    <th>Alt. No</th>
                                        <td id="altno"></td>
                                    <th>URL Web</th>
                                        <td id="Urlweb"></td>
                                </tr>
                                    <tr>
                                        <th>Zip Code</th>
                                        <td id="Zip"></td>
                                        <th>Email Id</th>
                                        <td id="Email"></td>
                                        <th>Address</th>
                                        <td id="Address"></td>
                                    </tr>
                                    <tr>
                                        <th>URL</th>
                                        <td id="Url"></td>
                                    </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                    <div class="notes-container">
                        <div class="row">
                            <div class="col-lg-4 notes-title">
                                <p>Notes</p>
                            </div>
                            <div class="col-lg-8 text-right checkbox-name" id="radioButtonDiv">
                                <div class="form-check form-check-inline">
                                    <input class="radiobtn" type="radio" id="rci" name="rbtn" alt="Rcinotes" value="RCI" checked="checked" />
                                    <p class="form-check-label">RCI</p>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="radiobtn" type="radio" id="ng" name="rbtn" alt="Ngnotes" value="NG" />
                                    <p class="form-check-label">NG</p>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="radiobtn" type="radio" id="ps" name="rbtn" alt="Misnotes" value="PS" />
                                    <p class="form-check-label">PS</p>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="radiobtn" type="radio" id="visited" name="rbtn" alt="Visotes" value="VISITED" />
                                    <p class="form-check-label">Visited</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="notes-scrollbar scrollbar-style" id="notesContainer">
                            <div id="Rcinotes">
                            </div>
                            <div id="Ngnotes">
                            </div>
                            <div id="Misnotes">
                            </div>
                            <div id="Visotes">
                            </div>
                        </div>
                    </div>

                    <div class="quotes-container">
                        <div class="row quotes-head">
                            <div class="col-lg-6">
                                <p>Quotes</p>
                            </div>
                            <div class="col-lg-6 text-right">
                                <input type="text"  class="company-search maqs-input-field" placeholder="Search" />
                            </div>
                        </div>
                        <div class="quotes-inner-container scrollbar-style" id="quotesContainer">
                            <table id="quoteTableData">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>AD/Inv.#</th>
                                        <th>Contact</th>
                                        <th>Rep</th>
                                        <th>Agency</th>
                                        <th>Total Sale</th>
                                        <th>G.C/S</th>
                                        <th>Conf.</th>
                                        <th>Canc.</th>
                                        <th class="sticky-content">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tblQuotes">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal fade" id="quotesModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col-lg-6 quotes-modal-name">
                                        <label>Company & Quotes</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" class="cancel-btn">&#11198;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-body quotes-modal-data" id="tblCompanyQuotes">
                                    <div class="row modal-data">
                                        <div class="col-lg-3">
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader" >
                                                    Company 
                                                </div>
                                                <div id="Qcompany" class="displayRecord" data-toggle="tooltip" data-placement="top" title="Company">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Suite
                                                </div>
                                                <div id="Qconad2" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    City
                                                </div>
                                                <div id="Qconcity" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    State
                                                </div>
                                                <div id="Qconst" class="displayRecord">
                                                    
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    URL
                                                </div>
                                                <div id="Qconurl" class="displayRecord">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Created By
                                                </div>
                                                <div id="Qcreateby" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Uploaded By
                                                </div>
                                                <div id="Qupdtby" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Confirmed By
                                                </div>
                                                <div id="Qconfby" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Canceled By
                                                </div>
                                                <div id="Qcancby" class="displayRecord">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Quote #
                                                </div>
                                                <div id="Quotenum" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Invoice #
                                                </div>
                                                <div id="Qinvnum" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Address
                                                </div>
                                                <div id="Qconad1" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Email ID
                                                </div>
                                                <div id="Qconemail" class="displayRecord">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Contact
                                                </div>
                                                <div id="Qcontact" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Tel
                                                </div>
                                                <div id="Qconphon" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Fax
                                                </div>
                                                <div id="Qconfax" class="displayRecord">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="displayAsHeader">
                                                    Zip Code
                                                </div>
                                                <div id="Qconzip" class="displayRecord">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row modal-table scrollbar-style">
                                        <table>
                                            <thead>
                                                <tr class="table-head">
                                                    <th>Price</th>
                                                    <th>Pr.Disc.</th>
                                                    <th>Tot.Aft.Pr.Disc</th>
                                                    <th>%Disc</th>
                                                    <th>Addit.$Disc</th>
                                                    <th>Tot.Sale.Ag.Disc</th>
                                                    <th>Final.Sale.Amt.</th>
                                                    <th>Total@List</th>
                                                </tr>
                                                <tr>
                                                    <td id="Qmedprice"></td>
                                                    <td>-</td>
                                                    <td id="Qmedsubtotal1"></td>
                                                    <td>-</td>
                                                    <td id="Qmedadicdisc"></td>
                                                    <td id="Qmedagdisctot"></td>
                                                    <td id="Qmedtotal1"></td>
                                                    <td id="Qmedsubtotal2"></td>
                                                </tr>

                                            </thead>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="modal-total">
                                                <div class="row ">
                                                    <div class="col-lg-6">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <p>Total@List+color</p>
                                                                </td>
                                                                <td><p id="Qtotallist" class="totalTableRecord"></p></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p>Total price disc.</p>
                                                                </td>
                                                                <td><p class="totalTableRecord">-</p></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p>Total % disc</p>
                                                                </td>
                                                                <td><p class="totalTableRecord">-</p></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p>Additional $ disc.</p>
                                                                </td>
                                                                <td><p class="totalTableRecord">-</p></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-6 pl-0">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <p>Total Discounts</p>
                                                                </td>
                                                                <td><p class="totalTableRecord">-</p></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p>Total before agcy. Disc.</p>
                                                                </td>
                                                                <td><p class="totalTableRecord"></p></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p>Agency Disc</p>
                                                                </td>
                                                                <td><p class="totalTableRecord"></p></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="total-result">
                                                            <p>Total Sale </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <p id="Qtotal2" class="totalSale"></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row footer-design">
                <div class="col-lg-6">
                    <p class="text-left">© 2022 | All rights reserved</p>
                </div>
                <div class="col-lg-6">
                    <p class="text-right">
                        <a>Terms</a> |
                        <a>Privacy</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        const handleBtn = document.getElementById("advancedFilter");
        const handleDiv = document.getElementById("searchPanel");
        const handleForm = document.getElementById("searchForm");

        handleBtn.addEventListener('click', function handleClick(event) {
            if (handleDiv.style.visibility === 'hidden') {
                handleDiv.style.visibility = 'visible';
            } else {
                handleDiv.style.visibility = 'hidden';
            }
            if (event.target.closest("searchPanel")) return handleDiv.classList.add("js-is-hidden");
        });

        $(document).on('click', '#btnClear', function () {

            $("#companyId").val('');
            $("#stateId").val('');
            $("#cityId").val('');
            $("#contactId").val('');
            $("#zipId").val('');
            $("#emailId").val('');
        });
    });
</script>

@section scripts{
    <script src="~/js/datatable_file.js"></script>
    @*<script src="~/js/jquery.live.search.min.js"></script>*@
}

<script>
        function loadData(id) {
            // function body
            $.ajax({
                      type: "get",
                      data:{id:id},
                      url: '@Url.Action("ContactDetails", "Corps")',
                      dataType: "json",
                      success: function (result) {
                                    
                                    if(result == 0)
                                    {
                                        alert("No Data")
                                        $('#Company').text('');
                                        $('#Contact').text('');
                                        $('#Title').text('');
                                        $('#Suite').text('');
                                        $('#State').text('');
                                        $('#City').text('');
                                        $('#phoneno').text('');
                                        $('#altno').text('');
                                        $('#Urlweb').text('');
                                        $('#Zip').text('');
                                        $('#Email').text('');
                                        $('#Address').text('');
                                        $('#Url').text('');

                                        $('#RciNotes').html('');
                                        $('#Ngnotes').html('');
                                        $('#Misnotes').html('');
                                        $('#Visotes').html('');
                                        $('#tblQuotes').html('');
                                   }
                                   else{
                                       $('#contactContainer').show();
                                       $('#radioButtonDiv').show();
                                       $('#notesContainer').show();
                                       $('#quotesContainer').show();
                                       $('#quotesSearch').show();
                                       $('#Company').text(result[0].company);
                                       $('#Contact').text(result[0].contact);
                                       $('#Title').text(result[0].title);
                                       $('#Suite').text(result[0].address2);
                                       $('#State').text(result[0].state);
                                       $('#City').text(result[0].city);
                                       $('#phoneno').text(result[0].phone);
                                       $('#altno').text(result[0].altphone);
                                       $('#Urlweb').text(result[0].urlweb);
                                       $('#Zip').text(result[0].zip);
                                       $('#Email').text(result[0].email);
                                       $('#Address').text(result[0].address1);
                                       $('#Url').text(result[0].urlcareers);

                                       $('#Rcinotes').html(result[0].rcinotes_Pad);
                                       $('#Ngnotes').html(result[0].ngnotes_Pad);
                                       $('#Misnotes').html(result[0].misnotes_Pad);
                                       $('#Visotes').html(result[0].visnotes_Pad);
                                       GetQuotes(result);
                                       console.log(result);
                                   }
                                },
                                error: function () {
                                    alert('Error while loading contact, notes and quotes');
                                }
                            });

        }

        function loadPopup(id) {
            // function body
            $.ajax({
                type: "get",
                data: { id: id },
                url: '@Url.Action("QuotesPopup", "Corps")',
                dataType: "json",
                success: function (result) {
                    if (result == 0) {
                        alert("No Data")
                    }
                    else {
                        $('#Quotenum').text(result[0].quotenum);
                        $('#Qcompany').text(result[0].qcompany);
                        $('#Qconad2').text(result[0].qconad2);
                        $('#Qconcity').text(result[0].qconcity);
                        $('#Qconst').text(result[0].qconst);
                        $('#Qconurl').text(result[0].qconurl);
                        $('#Qcreateby').text(result[0].qcreateby);
                        $('#Qupdtby').text(result[0].qupdtby);
                        $('#Qconfby').text(result[0].qconfby);
                        $('#Qcancby').text(result[0].qcancby);
                        $('#Qinvnum').text(result[0].qinvnum);
                        $('#Qconad1').text(result[0].qconad1);
                        $('#Qconemail').text(result[0].qconemail);
                        $('#Qcontact').text(result[0].qcontact);
                        $('#Qconphon').text(result[0].qconphon);
                        $('#Qconfax').html(result[0].qconfax);
                        $('#Qconzip').html(result[0].qconzip);
                        $('#Qmedprice').html(result[0].qmedprice);
                        $('#Qmedsubtotal1').html(result[0].qmedsubtotal);
                        $('#Qmedsubtotal2').html(result[0].qmedsubtotal);
                        $('#Qmedadicdisc').html(result[0].qmedadicdisc);
                        $('#Qmedagdisctot').html(result[0].qmedagdisctot);
                        $('#Qmedtotal').html(result[0].qmedtotal);
                        $('#Qtotallist').html(result[0].qtotallist);
                        $('#Qtotal1').html(result[0].qtotal);
                        $('#Qtotal2').html(result[0].qtotal);
                        $('#Qagdiscper').html(result[0].qagdiscper);
                        $('#Qagdisctot').html(result[0].qagdisctot);
                    }
                },
                error: function () {
                    alert('Error while loading popup');
                }
            });

        }

        function GetQuotes(data)
        {
            //console.log(data);
            $("#tblQuotes").html('');
            var tr;
            //console.log(data)
            $.each(data,function(i,item){
                //console.log(item['qcontact']);
                tr += "<tr><td>" + item['qcreatedat'] + "</td><td>" + item['qinvnum'] + "</td><td>" + item['qcontact'] + "</td><td>" + item['qcreateby'] + "</td><td>" + item['agcyid'] + "</td><td>" + item['qtotal'] + "</td><td>" + item['ordertaken'] + "</td><td>" + item['confirmed'] + "</td><td>" + item['cancelled'] + "</td>";

                tr += "<td class='view-icon sticky-content'  data-toggle='modal' data-target='#quotesModal'>" + "<img class='quotesPopup' quoteId=" + item['quotenum'] + " src='../Images/View.png' alt='View Icon' /></td></tr>";
            });
            $('#tblQuotes').html(tr);
        }

        $(document).ready(function (){

            //$.liveSearch({
            //selectorContainer: "table",
            //selectorElementsToSearch: "tr",
            //selectorInputSearch: "input#search_query",
            //selectorHead: false,
            //selectorToHide: false,
            //minCharacters: 3,
            //typeDelay: 500,
            //ajaxFilter: true,
            //ajaxCallback: false
            //});


            $('#contactContainer').hide();
            $('#radioButtonDiv').hide();
            $('#notesContainer').hide();
            $('#quotesContainer').hide();
            $('#quotesSearch').hide();

            $("#quoteTableData").on("click", ".quotesPopup", function(){
                var quoteId = $(this).attr("quoteId");
                loadPopup(quoteId);
            });

            $('#Rcinotes').show();
            $('#Ngnotes').hide();
            $('#Misnotes').hide();
            $('#Visotes').hide();

        $(".radiobtn").change(function(){
            var rId=$(this).attr("alt");
            $('#Rcinotes').hide();
            $('#Ngnotes').hide();
            $('#Misnotes').hide();
            $('#Visotes').hide();
            $('#'+rId).show();
        });

});

</script>
